.stop-watch-button {
  height: 60px;
  width: 200px;
  background: #26de81;
  color: white;
  font-weight: bolder;
  font-size: xx-large;
  border-radius: 10px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  letter-spacing: 3px;
  cursor: pointer;
}
